<h1 class="display-2 text-center">PiCar Marro</h1>

<div class="container">
  <div class="jumbotron">
    <div class="container algin-center">
        <div class="row">
            <div class="col-sm">
                <!-- Switch -->
                {{#if encendido}}
                    <label class="switch">
                    <input type="checkbox" id="io" onchange="getVal({{encendido}})" checked={{encendido}}>
                    <span class="slider round"></span>
                </label>
                {{else}}
                    <label class="switch">
                    <input type="checkbox" id="io" onchange="getVal({{encendido}})">
                    <span class="slider round"></span>
                </label>
                {{/if}}
                <div>
                <a href="#" class="arrow round center">⭕</a>
                <a href="#" class="arrow round up">🖕</a>
                <a href="#" class="arrow round down">👇</a>

                

                <a href="#" class="arrow round left">👈</a>
                <a href="#" class="arrow round right">👉</a>
            </div>
            </div>
            <div class="col-sm">
                
                <div class="d-flex flex-row-reverse">
                    <h3>{{{estado}}} </h3>
                    <!-- span class="badge badge-pill badge-danger m-2">Stopped</span> -->
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="h3">Estado actual de sensores</h1>
        <div class="container algin-center">
            <center><div class="row">
                <div class="col-sm">
                    {{{ r1}}}
                </div>
                <div class="col-sm">
                    {{{ r2 }}}
                </div>
                <div class="col-sm">
                    {{{ r3 }}}
                </div>
                <div class="col-sm">
                    {{{ r4 }}}
                </div>
                <div class="col-sm">
                    {{{ r5 }}}
                </div>
            </div></center>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="h3">Acción actual</h1>
        <div>
           <center><h4>{{{movim}}} </h4></center>
        </div>
   </div>
</div>

<div class="container">
    <div class="jumbotron">
        <div class="container algin-center">
            <center><div class="row">
                <div class="col-sm">
                    <h1 class="h3">Velocímetro</h1>
                        <div class="progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"  style="width: {{velocidadImagen}}%" aria-valuenow="{{velocidad}}" aria-valuemin="0" aria-valuemax="100">{{velocidad}} RPM</div>
                        </div>
                </div>
                <div class="col-sm">
                    <h1 class="h3">Últimos movimientos registrados</h1>
                        {{#each trace}}
                            <p>{{#each this}}
                                {{{this}}} 
                            {{/each}}   </p>  
                        {{/each}}
                </div>
            </div></center>
        </div>
        <br></br>
        <br></br>
        <br></br>        
   </div>




<script>
    function getVal(elem){
        //console.log(elem.checked);
        console.log(elem);
        var xhr = new XMLHttpRequest();
        
        xhr.open('POST', '/encendido', true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        if(elem){
            console.log("ON");
            xhr.send("boton=false");
            
        } else {
            console.log("OFF");
            xhr.send("boton=true");
        }
    }

</script>