<h1 class="display-2 text-center">PiCar Marro</h1>
<div>
    

    Encendido: 
    {{ results }}

    

    
</div>
<div class="container">
  <div class="jumbotron">
    <div class="container algin-center">
        <div class="row">
            <div class="col-sm">
                <!-- Switch -->
                <label class="switch">
                    <input type="checkbox" id="io" onchange="getVal(this)">
                    <span class="slider round"></span>
                </label>
            </div>
            <div class="col-sm">
                
                <div class="d-flex flex-row-reverse">
                     
                    <span class="badge badge-pill badge-dark m-2">Estado:{{estado}}</span>
                    <!-- span class="badge badge-pill badge-danger m-2">Stopped</span> -->
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="h3">Current Sensor Array</h1>
        <div class="container algin-center">
            <div class="row">
                <div class="col-sm">
                    {{ r1 }}
                </div>
                <div class="col-sm">
                    {{ r2 }}
                </div>
                <div class="col-sm">
                    {{ r3 }}
                </div>
                <div class="col-sm">
                    {{ r4 }}
                </div>
                <div class="col-sm">
                    {{ r5 }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="h3">Current Action</h1>
        <div>
            <!--{{mov}}-->
        </div>
   </div>
</div>

<div class="container">
    <div class="jumbotron">
        <h1 class="h3">Extras</h1>
        <div>

        </div>
   </div>
</div>


<script>
    function getVal(elem){
        console.log(elem.checked);
        var xhr = new XMLHttpRequest();
        
        xhr.open('POST', '/encendido', true);
        xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        if(elem.checked){
            console.log("ON");
            xhr.send("boton=true");
            
        } else {
            console.log("OFF");
            xhr.send("boton=false");
        }
    }

</script>